/*HEader */
@import url("../../1.Atomos/colores.css");

/*import de tipografia¨*/
@import url("../../1.Atomos/tipografia.css");

@import url("../../2.Moleculas/botones/botones-style.css");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}


.header__container{
  width: 100% !important;
  padding: 0;
  margin: 0 auto;
  z-index: 2;
}

.header__area{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    position: fixed;
    background-color: var(--color--neutral--0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 125px 8px;
    margin-bottom: 100px;
    z-index: 2;
}

.header__area_cont{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.menu-icon{
    font-size: 40px;
    color:black;
    padding-right: 32px;
    margin-top: 5px;
}
.logo{
    width: 100%;
    overflow:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo .logo-img {
    width:150px;
    height: auto;
    
}

.nav_menu{
    margin-left: 32px;
}

.nav_list {
    display: inline;
    margin: 10px 15px;

}

.nav_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.nav_link {
    display: inline-block;
    font-size: var(--font--size--button);
    color: var(--color--neutral--80);
    font-weight: var(--font--weight--bold);
    line-height: 120%;
}

.nav_link.active {
    color: var(--color--main);
    border-bottom: 2px solid var(--color--main);

}







.nav_menu-iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_link-icon {
    padding: 8px 8px;
    color: var(--color--neutral--80);
    width: 100%;
    height: auto;
}


.nav_link-icon:hover {
    color: var(--color--main)
}



.button--primary--header {
    padding: 8px 12px;
    color: var(--color--neutral--0);
    width: auto;
    font-size: 14px;
}

.button--primary--header span {
    padding-left: 12px;
} 